.login{
    position: absolute;
    width:40%;
    height: 85%;
    /* margin: auto auto;  */
    border-radius: 1.5rem;
    background: #FFFFFF;
    display: grid;
    place-content: center;
    place-self: center;
    font-family: 'Outfit';
    padding: 2rem;
    }
  
    .login > h2{
      position: absolute;
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 60px;
      display: flex;
      place-self: start center;
    }
  
    .login > a{
      color: rgb(95, 51, 95);
      /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    }
    input{
      position: absolute;
      width: 60%;
      height: 8%;
      top: 25%;
      border-radius: 2rem;
      place-self: center;
      text-align: center;
      background: #F6F6FF;
      border: solid black 1px;
  
      font-family: 'Outfit';
      font-style: normal;
      font-size: 1rem;
    }
    
    .login .password{
      margin-top: 6%;
      top: 35%;
    }
    
    .login-btn{
      position: absolute;
      /* margin-top: 25%; */
      top: 65%;
      width: 30%;
      height: 8%;
      background-color: #e4e4fe;
      place-self: center;
      border-radius: 0.5rem;
    }
  
    .login-btn:hover{
        /* animation: change-background 1s  ; */
        cursor: pointer;
        background: violet;
        transition: ease-in 0.5s;
    }

    .login > a{
      position: absolute;
      font-family: 'Outfit';
      font-style: normal;
      top: 77%;
      text-align: center;
      place-self: center;
    }